
body::before {
  position         : fixed;
  bottom           : 0;
  left             : 0;
  z-index          : 9999999;
  background-color : red;
  color            : #fff;
  padding          : rem-calc(15 25);
}

//pull push classes
//@each $bpname, $bpsize in $breakpoint-map { **foundation**

@each $bpname, $bpsize in  $grid-breakpoints{
  @media (min-width: $bpsize) {
    body::before {
      content : "#{$bpname}";
    }
  }
}