extends layouts/default
append mainVars
	- var currentPage = 'about-us'
	- var pageTitle = 'Welcome to the home page'
	- var metaKey = 'add, some, keywords'
	- var metaDesc = 'This is the page description.'
block content
	.container
		.row
			.col
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
				p BY HENRY HILL
			.col
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum sunt inventore fugit porro, totam, asperiores reprehenderit quibusdam a architecto impedit possimus temporibus. Eaque velit eligendi non doloribus, veritatis, doloremque at!
			.col
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum sunt inventore fugit porro, totam, asperiores reprehenderit quibusdam a architecto impedit possimus temporibus. Eaque velit eligendi non doloribus, veritatis, doloremque at!