block mainVars
	- var page = ''
	- var section = ''

doctype html
html
	include ../partials/html-head

	body
		header
			nav
				a(href="/",title="back to home")#logo
					img(width="130" src='https://dospuntocero.cl/wp-content/uploads/2016/03/logo-dospuntocero.svg')
				ul
					each page , i in Navigation
						if (currentPage === page.link)
							li(class = page.link).current
								a(href='/#{page.link}').active #{page.title}
						else
							li(class = page.link)
								a(href='/'+page.link) #{page.title}

		main(class=currentPage)
			block content

		include ../partials/footer